.Gallery {
  position: relative;
}

.Gallery .cards-container {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 97%;
}

.Gallery .cards-container .search {
  margin: 10px 0 20px;
}

.Gallery .item.tooltip {
    position: relative;
    display: inline-block;
    /* float: left;*/
    margin: 0px 0px 15px 5px;
    width: 300px;
}

.Gallery .item > img {
    position: absolute;
}

.Gallery .item.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, .628);
    color: #fff;
    text-align: center;
    padding: 5px 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.Gallery .item.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* INFO DETAIL */

.Gallery .section-ficha-bg {
  width: 100%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: center -80px;
  opacity: .3;
}

.Gallery .section-ficha-info {
  position: absolute;
  top: 0px;
  display: inline-block;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgb(63, 63, 63);
  width: 100%;
}

.Gallery .section-ficha-info .container {
  /* mediaquery breakpoints needed */
}

.section-ficha-info .head-title h2 {
  font-family: Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 2em;
  padding: 1px;
  margin: 30px 20px 60px;
}

.section-ficha-info .head-title h2 a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.section-ficha-info .body-info div {
  float: left;
}

.section-ficha-info .body-info .image {
  width: 34%;
  position: relative;
}

.section-ficha-info .body-info .image img {
  width: 96%;
  left: 4%;
  position: relative;
}

.section-ficha-info .body-info .image .subscribe {
  height: 18px;
  position: absolute;
  top: 4px;
  right: 0px;
}

.section-ficha-info .body-info .image .subscribe span {
  padding: 3px 5px;
  font-weight: bold;
  background-color: rgba(74, 126, 235, 0.901961);
}

.section-ficha-info .body-info .paragraphs {
  width: 63%;
  position: relative;
  padding: 0px 1.5%;
}

.section-ficha-info .body-info .paragraphs .left, .section-ficha-info .body-info .paragraphs .rigth {
  width: 50%;
  position: relative;
  margin-bottom: 20px;
}

.section-ficha-info .body-info .paragraphs .left p {
  margin-top: 0px;
}

.section-ficha-info .body-info .paragraphs .left .fecha_tiempo ul {
  line-height: 35px;
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-ficha-info .body-info .paragraphs .left .fecha_tiempo ul li {
  padding-left: 0;
  display: inline-block;
  padding-right: 10px;
}

.film-crew > div {
  display: block;
  width: 100%;
}

.film-crew > div strong {
  font-weight: 700;
}

.film-crew > div a {
  text-decoration: underline;
  color: #f2f2f2;
}

.btn-label {
  color: #0c0c0c;
  background-color: #f2f2f2;
  display: inline;
  padding: .2em .6em .15em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  box-sizing: border-box;
}

.rating {
  color: #f2f2f2!important;
  background: 0 0;
  border-radius: 0;
  border: 1px solid #f2f2f2;
}

.margin-left-20 {
  margin-left: 20px;
}


.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
